body{background-color:#f6f6f6; color:#222;}

.topcontent{margin:0;padding:1em 1.75em;background-color:#414141;height:100px;}
.pagecontent, .navbar {width:85%; margin:auto;}
.pagecontent {margin:-40px auto 0;background-color:#fff;border:solid 1px #aaa;padding:1em;}
.pagetitle {font-size:275%;padding:1em 2em 0 1.3em;}
.navbar {padding:20px 0;}
.navbar li {font-size:145%; padding:1em .5em .15em}
.navbar li, .navbar li a {color:#fff; text-decoration:none;display:inline-block;}
li.navbar-active {background-color: #66AED4; background: linear-gradient(#6EBCE5,#5A9ABB);}

.pagefooter { text-align:center}